.tokenomics-image{
    width:100%;
}


.audit-flash-button img{
    border-radius: 50px;
height: 60px;
}


.add-filter{
    filter:blur(21.5px);
}

.soon{
    position: absolute;
    left: 45%;
    top: 50%;
}